<!DOCTYPE html>
<html>
  <head>
	  <title><%= content_for?(:title) ? yield(:title) + " - #{APPLICATION_NAME}" : "#{APPLICATION_NAME}" %></title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  <%= csrf_meta_tags %>

    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/modal' %>
<!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">modal for @fat</button>-->
    <div class="editor-container">
        <%#= render 'layouts/notifications' %>
      <%= yield %>
	  </div>
  </body>
</html>
